.main {
  --radius: 4px;
  --shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  --black: #3d474d;
  --white: #eeeeee;
  --selected: #a3be8c;

  // --mainBgCaller: #2b557a;
  --mainBgCaller: #426381;
  --mainBgPlayer: #3e6f3e;
  // --mainBgPlayer: #256d26;
  --selectedText: #FEFFFD;

  --nonSelectBg: #E4E8E9;
  --nonSelectText: #bcc5cb;

  &.light {
    --primary-color: #eeeeee;
    --secondary-color: #5e81ac;
  }

  &.dark {
    --primary-color: #eeeeee;
    --secondary-color: #5e81ac;
  }
}
