.popupRoleCustom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    gap: 10px;

    .button {
        width: 100%;
        border: 0;
        border-radius: 4px;
        padding: 12px 30px;
        background-color: var(--nonSelectBg);
        color: var(--nonSelectText);
        font-weight: 500;
    }

    .playerButton {
        background-color: #256d26;
        color: var(--selectedText);
    }

    .callerButton { 
        background-color: #2b557a; 
        color: var(--selectedText);
    }

    .traffic {
        margin-top: 5px;
        color: var(--black);
        border: 0;
        font-weight: 500;
        text-decoration: underline;
        text-underline-offset: 2px;

        .trafficNumber {
            color: #bc9e3c;
        }
    }
}

.popupThemeCustom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;

    .color {
        border-radius: 4px;
        padding: 20px;
        width: 70%;
    }

    .color.selected {
        outline: 3px solid var(--mainBgPlayer);
    }
}

.popupIntroductionCustom {
    height: calc(100vh - 180px);
    width: auto;
    overflow-y: auto;

    div {
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 500;
        color: var(--black);
    }

    span {
        display: block;
        text-align: center;
    }

    img {
        margin-top: 5px;
        width: 100%;
        height: auto;
    }

    .title {
        font-weight: 600;
    }

    .display {
        display: block !important;
    }

    .loading {
        display: flex !important;
        align-items: center;
        height: 90%;
    }

    .hidden {
        display: none;
    }
}