.ticket {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 768px;
}

.haveCaller {
  display: none;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc((100% - 20px) / 9);
}

.empty {
  background-color: transparent;
}

.number {
  height: 100%;
  width: 100%;
  min-width: 40px;
  min-height: 20%;
  border: 1px solid #37424d;
  cursor: pointer;
  background-color: var(--white);
}

.selected {
  .text {
    background-color: var(--mainBgPlayer);
    color: var(--selectedText);
  }
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.8em;
  font-weight: 600;
  color: var(--black);
  user-select: none;
}

@media screen and (min-width: 468px) {
  .ticket {
    width: 60%;
  }
}
